



<div class="nested-fields">


  <div class="row">
        <div class="form-group col-md-3">
          <%= f.collection_select(:animal_id, Animal.all, :id, :scientific_name, {}, {class: "form-control speciesField"}) %>
        </div>

    <div class="form-group col-md-3">
          <%= f.text_field :fork_length, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
          <%= f.text_field :girth, class: "form-control" %>
    </div> 
    
    <div class="form-group col-md-3" id="removeCatchLink">
      <span>
        <%= link_to_remove_association "remove catch", f %>
      </span>
    </div> 
  </div>

</div>
