<% if user_signed_in? %>
  <div class="container">          
    <div class="row home">
      <div class="span4">
        <div class="img_box">
          <a href= <%= url_for trips_path %>>
            <img <%= image_tag 'FormButton.jpg' %>
        </a>
        </div>
        <div class="text"> <h6>Trips</h6>
        </div>
      </div>
<% end %>


