/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 70px;
}

.tripContainer {
  margin-left: 30px;
}

.formSidebar {
  height: 175px;
  background-color: gray;
}

#tripSidebarContent {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tripSection {
  height: 175px;
  background: yellow;
  margin-left: 0px;
  margin-right: 0px;
}

.tripSectionData{
  height: 175px;
  background: pink;
}

.sampleSidebar {
  height: 700px;
  background: gray;
  margin-left: 0px;
  margin-right: 0px;

}

#sampleSidebarContent {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sampleSectioData {
  height: 700px;
  background-color: yellow;
  overflow: scroll;
}

#drops {
  background: pink;
}

#removeCatchLink {
  height: 59px;
  text-align: left;
}

#removeCatchLink span {
  position: absolute;
  bottom: 0;
}

#dropNestedFields {
  border-bottom: 1px black solid;
}


